.card-space {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.logo {
    height: auto;
    width: 30%;
}

.space {
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid #dcdcdc;
}

.title {
    text-align: center;
}

.fondo {
    background: url("../img/fondo.jpg") no-repeat center center / cover;
}

.card-search {
    margin-top: 20px !important;
    padding: 20px 20px 20px 20px;
}

#playlist{
    width: 300px;
    padding: 20px;
    margin-top:20px;
    list-style: none;
    background: #f4f4f4;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #b2b2b2;
    
}

a {
    text-decoration: none;
}

.active a {
    color: #5DB0E6;
    text-decoration: none;
}

li a {
    color: #6c6c6c;
    padding: 5px;
    display: block;
}

li a:hover {
    text-decoration: none;
}
